<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quizzy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 0; /* Reset margin */
        }

        .navbar-brand {
            font-size: 32px; /* Increase font size */
            font-weight: bold; /* Make text bold */
            /* Add any other styles you desire */
            /* For example: text-transform: uppercase; */
        }

        /* Center align text */
        .center-align {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 30px); /* Adjusted height to accommodate the scrollbar */
            text-align: center;
            margin-top: -75px; /* Increased negative margin to move content further up */
        }

        /* Custom styling for main heading */
        .main-heading {
            font-size: 3em; /* Reduced font size */
            color: #333; /* Dark grey color */
            font-style: italic; /* Italicize the text */
            margin-bottom: 1rem; /* Add space below main heading */
        }

        /* Custom styling for the blue part */
        .blue-text {
            font-weight: bold;
            font-size: 2.5rem;
            color: #0078d7; /* Same color as taskbar */
        }

        /* Custom styling for description */
        .description {
            font-size: 1.5em; /* Smaller font size */
            color: #4a4a4a; /* Dark grey color */
            font-weight: bold; /* Make text bold */
            margin-bottom: 2rem; /* Add space below description */
        }

        /* Custom styling for buttons */
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 2rem; /* Add gap between buttons */
        }

        .button {
            padding: 1rem 2rem;
            background-color: #363f47; /* Same color as taskbar */
            color: white;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            transition: background-color 0.6s ease;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 250px; /* Increased button width */
            text-decoration: none; /* Remove default underline */
        }

        .button:hover {
            background-color: #0056b3; /* Darker shade on hover */
        }

        .button-icon {
            margin-left: 6px;
        }

        /* Styling for college image */
        .college-image {
            width: 200px; /* Adjust image width as needed */
            margin-bottom: 20px; /* Add space below the image */
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top" ">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">JIIT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="w3-bar-item w3-button w3-padding-large text-light">HOME</a>
                        <a href="/teacher" class="w3-bar-item w3-button w3-padding-large text-light">Teacher</a>
                        <a href="/student" class="w3-bar-item w3-button w3-padding-large text-light">Student</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="center-align" >
        <img src="http://www.jiit.ac.in/jiit/ETTIC/assets/img/jiit_logo.png" class="college-image" style="margin-top: 73vh;">
        <p class="main-heading">
            <span style="color: black; font-size: 2.5rem;">Elevating Learning: Welcome to the </span>
            <span class="blue-text">Jaypee Institute Quiz Experience</span>
        </p>
        <p class="description">
            Welcome to our Platform, dedicated to enhancing the learning journey for students and teachers at Jaypee Institute of Information and Technology.
        </p>
        <div class="button-container " >
            <a href="/teacher" class="button " >Teacher <img src="https://img.icons8.com/ios/50/000000/arrow.png" class="button-icon" alt="arrow"></a>
            <a href="/student" class="button" style="margin-bottom:2vh ;">Student <img src="https://img.icons8.com/ios/50/000000/arrow.png" class="button-icon" alt="arrow"></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>

</html>