<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
   <form action="/teacher/addquestion">
    <label for="">Question No</label>
    <input type="text" name="questionId" id="">
    <label for="">Question</label>
    <textarea name="questionText" id=""  rows="1"></textarea>
    <button >Add Question</button>
   </form>
</body>
</html>