<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/teacher/createquiz" method="post">
            <!-- <label for="chk" aria-hidden="true">Sign up</label> -->
            <!-- <label for=""></label> -->
            <input type="text" name="quizname" placeholder="quizname" required>
            <input type="text" name="quizdescription" placeholder="quizdescription" required>
            <input type="text" name="owner" placeholder="owner" required>
            <input type="text" name="owneremail" placeholder="owneremail" required>
            <button>Submit</button>
        </form>
    
</body>
</html>