<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Question: <%= questionText %></p>
    <p>Answer: <%= studentResponse %></p>
</body>
</html>
