*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: purple;
}

.first
{
    
    margin: 0;
    color: purple;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px black solid;
    border-color: purple;
    background-color: #F0F0F0;
}
.buttonpart
{

    margin: 0;
    width: 100%;
    height: 570px;
    background-color: #F9D949;
    

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    
    transition: all 10s linear 0s;

    
    border-bottom: 4px black solid;
    border-color: purple;

    text-decoration: solid;
}
.button1
{
    width: 300px;
    height: 20%;
    text-align: center;
    color: black;
    background-color: white;
    font: normal;
    transition: all 0.4s linear 0s;
    border-color: rgb(67, 1, 67);
    border-right-color: rgb(67, 1, 67) !important;
    border-bottom-color: rgb(67, 1, 67) !important ;
    border-radius: 8px;
}
.buttonpart :hover
{
    scale: 1.2;
}




/* FOOTER PART */
.footer
{
    width: 100%;
    height: 100px;
    background-color: #F45050;
    color: purple;
}